target/
.idea/
.vscode/
*.iml
.classpath
.project
.settings
.factorypath
.ruby-version
.DS_Store
/bin/
*.pyc
*.egg-info
py*_sdk/
py*_cli/
.DS_Store
**/*.versionsBackup
input_ocibuild/
output_ocibuild*/
clones/